body{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-image: url("/banni/background.png");
}

.middlemenu {
	background-color: #919191;
	height: 700px;
	width: 1130px;
	/*	margin: 0px;
	top: 80%;
	padding: 10px;
	margin-left: 100;*/
	display: inline-flex;
	margin-left: 5%;
	margin-right: 95%;
	border-radius: 10px;
	box-shadow: 14px 14px 12px #050505;
	/*	float : left;
	position: absolute;
	display: inline-block;*/
}

.middleimg {
	/*	display: block;
	margin: 2px;*/
}

.rightmenu {
	background-color: #919191;
	height: 525px;
	width: 600px;
	/*	top : 80%;
	margin: 0px;
	padding: 10px;
	margin-left:545;*/
	border-radius: 10px;
	box-shadow: 14px 14px 12px #050505;
	/*	position: absolute;
	float: left;*/
	display: inline-block;
	margin-left: 90%;
	margin-right: 10%;
}

.rightimg {
	/*	display: block;
	margin: 11px;
	margin-left: auto;
	margin-right: auto;*/
}

#diapo{
	position:relative;
	height:30em;
	margin:auto;
	text-align:center;
	margin: 2em 2em;
}
#diapo div{
	display:inline-block;
}
#diapo > * + *{
	margin-left:5px;
}
.big_image{
	position:absolute;
	display:block;
	width:300px;
	top:100px;
	left:0;
	right:0;
	margin:0 auto;
	opacity:0;
	border:10px solid #FFF;
	box-shadow: 0 2px 8px 2px #666;

	-webkit-transform:scale(0.25);
	-moz-transform:scale(0.25);
	-ms-transform:scale(0.25);
	-o-transform:scale(0.25);
	transform:scale(0.25);

	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.r_check, .on_check{
	cursor: pointer;
}
.r_check:checked ~ label img{
	opacity:0.25;
	border:2px solid #006699;
}
.r_check:checked ~ .big_image {
	opacity:1;

	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.r_check{
	/*  display:none;/* si masquer pas acces avec touche */
	opacity:0;
	position:absolute;
}
label img.vignette{
	width:100px;
	height:75px;
	border:2px solid #FFF;
}
.retour{
	color:#909090;
	font-size:1em;
	left:1em;
	bottom:1em;
	position:fixed;
	text-decoration:none;
	font-style:italic;
	text-shadow:1px 1px 0px #FFF;
}
.retour:hover{
	font-style:normal;
	color:#706040;
}

/*boutton menu*/
.bouton_4{
	width:40px;
	height:40px;
	padding:10px;
	border-radius:40px;
	background-color: grey;
	overflow:hidden;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
}
.bouton_4:hover{
	width:200px;
	height:40px;
	border-radius:40px;
	background-color:#97bf0d;
}
.texteduboutton_4
{
	width:70%;
	padding-right: 10px;
	float:right;
	line-height:40px;
	color:#ffffff;
	font-family:'Roboto';
	font-weight:300;
	font-size:18px;
}
.fond{position:fixed;padding-top:px;top:0;left:0; right:0;bottom:0;
background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/fond_4.jpg);background-size:cover;overflow-y:auto;}

.imgicon{
	margin-left: 2px;
}

.imgicon2{
	margin-left: 1px;
}

.imgicon3{
	margin-left: 3px;
}

.imgicon4{
	margin-left: -2px;
}

.menudisplaygroot{
	display: flex;
}

header{
	display: inline-flex;
	margin-left: auto;
	margin-right: auto;
}

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	background-color: #F1F1F1;
}

input[type=text], input[type=password], input[type=number] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #E8E8E8;
	border-radius: 4px;
	box-sizing: border-box;
}

hr {
	margin: 8px;
}

.error-msg {
	color: red;
	text-align: center;
}

.success-msg {
	color: green;
}

/*.text-center {
text-align: center;
}*/

	.text-left {
		text-align: left;
	}

	.mt-1 {
		margin-top: 10px;
	}

	.ml-1 {
		margin-left: 5px;
	}

	.card {
		margin: auto;
		margin-top: 150px;
		width: 300px;
		padding: 15px;
		color: #212529;
		background-color: white;
		box-shadow: 0px 0px 7px #E8E8E8;
	}

	.footer{
		bottom: 0;
		color: white;
		padding: 1rem;
		background-color: grey;
		text-align: center;
		width: 15em;
		border-radius: 10px;
	}

	.gallerieindex{
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: 10%;
	}

	.indexgallery{
		float: left;
		width: 32px;
		margin: 8px;
		padding: 8px;
		border-radius: 4px;
		border: solid 2px rgba(255, 255, 255, .4);
		text-decoration: none;
		text-align: center;
		color: #fff;
		background-color: rgba(255, 255, 255, .2);
		transition: all .1s;
	}


	/* COMMENT BOX */
	.detailBox {
		width:320px;
		border:1px solid #bbb;
		margin:50px;
	}
	.titleBox {
		background-color:#fdfdfd;
		padding:10px;
	}
	.titleBox label{
		color:#444;
		margin:0;
		display:inline-block;
	}

	.commentBox {
		padding:10px;
		border-top:1px dotted #bbb;
	}
	.commentBox .form-group:first-child, .actionBox .form-group:first-child {
		width:80%;
	}
	.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
		width:18%;
	}
	.actionBox .form-group * {
		width:100%;
	}
	.taskDescription {
		margin-top:10px 0;
	}
	.commentList {
		padding:0;
		list-style:none;
		max-height:200px;
		overflow:auto;
	}
	.commentList li {
		margin:0;
		margin-top:10px;
	}
	.commentList li > div {
		display:table-cell;
	}
	.commenterImage {
		width:30px;
		margin-right:5px;
		height:100%;
		float:left;
	}
	.commenterImage img {
		width:100%;
		border-radius:50%;
	}
	.commentText p {
		margin:0;
	}
	.sub-text {
		color:#aaa;
		font-family:verdana;
		font-size:11px;
	}
	.actionBox {
		border-top:1px dotted #bbb;
		padding:10px;
		background-color : black;
		opacity: 85%;
	}

	/* LIKE BOX */
	[id ^="heart"] {
		position: absolute;
		left: -100vw;
	}

	[for ^="heart"] {
		color: #aab8c2;
		cursor: pointer;
		font-size: 1em;
		align-self: center;
		transition: color 0.2s ease-in-out;
	}

	[for ^="heart"]:hover {
		color: grey;
	}

	[for ^="heart"]::selection {
		color: red;
		background: transparent;
	}

	[for ^="heart"]::moz-selection {
		color: none;
		background: transparent;
	}

	[id ^="heart"]:checked + label {
		color: #e2264d;
		will-change: font-size;
		animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
	}

	@keyframes heart {0%, 17.5% {font-size: 0;}}

	.heartlike{
		background: transparent;
		border: none;
	}

	.boutonvalid{
		border-radius: 0;
		outline: 1px dotted;
		outline: 5px auto -webkit-focus-ring-color;
		overflow: visible;
		text-transform: none;
		cursor: pointer;
		padding: 0;
		border-style: none;
		box-sizing: border-box;
		padding: 0;
	}

	.buttonpic{
		background-color:white;
	}
